In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('../complaints-2021-11-16_03_13.csv')
data = data[~(data['Consumer complaint narrative'].isnull())]
data = data[~(data['Consumer complaint narrative']=='')]
print(data.shape)

(24449, 18)

In [9]:
data.drop(set(data.columns) -  set(['Issue','Consumer complaint narrative']),axis=1,inplace=True)

In [10]:
data.head()

,Issue,Consumer complaint narrative
0,Getting a credit card,I opened a citi double cash card the beginning...
1,Closing your account,1. I have paid off two Citi cards on XX/XX/202...
3,Attempts to collect debt not owed,this issue was identity theft resolved with ci...
5,Problem with a purchase shown on your statement,On XX/XX/XXXX I received a letter from Citiban...
6,Managing an account,Small business ( checking and savings ) ( corp...

In [11]:
data['Issue'].nunique()

130

In [12]:
data['Issue'].value_counts()

Problem with a purchase shown on your statement    2847
Incorrect information on your report               1701
Managing an account                                1336
Fees or interest                                   1292
Other features, terms, or problems                 1264
                                                   ...
Can't contact lender                                  2
Shopping for a line of credit                         1
Can't stop charges to bank account                    1
Account terms and changes                             1
Problem adding money                                  1
Name: Issue, Length: 130, dtype: int64

In [13]:
data1 = data[data['Issue']=="Incorrect information on your report"]
data2 = data[data['Issue']=="Problem with a purchase shown on your statement"]

print(data1.shape,data2.shape)

(1701, 2) (2847, 2)

In [14]:
filtered_data = pd.concat([data1,data2])
print(filtered_data.shape)
filtered_data = filtered_data[['Consumer complaint narrative','Issue']]
filtered_data = filtered_data.sample(frac=1)
print(filtered_data.shape)
filtered_data.head()

(4548, 2)
(4548, 2)

,Consumer complaint narrative,Issue
19578,I have completely given up on XXXX bankcard c...,Problem with a purchase shown on your statement
50073,After submitting two written formal complaints...,Problem with a purchase shown on your statement
18365,Citibank is charging me {$590.00} for a servic...,Problem with a purchase shown on your statement
11551,XX/XX/XXXX of XXXX I've contacted CitiBank reg...,Incorrect information on your report
10495,"Just wanted to report identity theft, fraud, e...",Incorrect information on your report

In [15]:
train_index = filtered_data.sample(frac=0.7).index
test_index = set(filtered_data.index) - set(train_index)

train_data = filtered_data.loc[train_index]
test_data = filtered_data.loc[test_index]

print(train_data.shape,test_data.shape)

(3184, 2) (1364, 2)

In [17]:
train_data.head()

,Consumer complaint narrative,Issue
554,On XX/XX/2018 two charges were made at a vendo...,Problem with a purchase shown on your statement
11901,1. A Citibank ( South Dakota ) N.A. charge off...,Incorrect information on your report
17377,I made purchaseson XXXX that was opened and XX...,Problem with a purchase shown on your statement
8681,on XXXX XX/XX/2020 I filed a dispute with Citi...,Problem with a purchase shown on your statement
5644,On XX/XX/XXXX I purchased XXXX XXXX XXXX conce...,Problem with a purchase shown on your statement

In [19]:
train_data['Issue'].value_counts()

Problem with a purchase shown on your statement    1993
Incorrect information on your report               1191
Name: Issue, dtype: int64

In [18]:
test_data.head()

,Consumer complaint narrative,Issue
8201,Hello CFPB! Can you please forward the folllow...,Incorrect information on your report
49162,The response from Citi Cards has cleared up a ...,Problem with a purchase shown on your statement
8206,I have made repeated attempts with Macys Credi...,Problem with a purchase shown on your statement
8226,I paid {$120.00} through Citibank credit card ...,Problem with a purchase shown on your statement
57391,At Best Buys request I am submitting documenta...,Incorrect information on your report

In [21]:
test_data['Issue'].value_counts()

Problem with a purchase shown on your statement    854
Incorrect information on your report               510
Name: Issue, dtype: int64

In [22]:
train_data.to_csv('train_dataset.csv')

In [23]:
test_data.to_csv('test_dataset.csv')